*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.clocks{
    display: flex;
    justify-content: center;
    align-items: center ;
}
.arrow{
    width: 290  px;
    position: absolute;
    border: 2px solid purple;
    animation: example 60s infinite linear;
    transform-origin: top left;
    margin-left: 325px;

}
@keyframes example {
    from{   transform: rotate(0deg);}
    to{   transform: rotate(360deg);}
}